<div id="Footer" class="row" style="color: white; background-color: steelblue">

    <div class="col text-light mt-3 mb-3" style="color:white; text-align:center;">
        Cơ quan chủ quản Công ty Cổ phần Bạch Minh - Địa chỉ: PB04, Tòa nhà VET, 98 Hoàng Quốc Việt, Hà Nội <br />
        Email: Nhac@vega.com.vn Tel: 024 37554190 - Người chịu trách nhiệm nội dung: Ông Lê Hữu Toàn <br />
        Giấy phép MXH số 311/GP-BTTTT do Bộ Thông Tin và Truyền thông cấp ngày 04/07/2017 <br />
        © 2015 Vega Corporation <br />
    </div>
</div>