<div id="header" class="row" style="color: white; background-color: lightblue">
    <img src="~/Assets/images/logo.JPG" />
    <form class="form-inline" method="post" action="/BaiHat/Search">
        <input type="text" name="txt_Search" id="txt_Search" class="form-control" placeholder="Search" />
        <button type="submit" class="btn btn-outline-success ml-2">Search</button>
    </form>
    <button class="btn btn-outline-success mx-5">@Html.ActionLink("Đăng nhập", "DangNhap")</button>
    <button class="btn btn-outline-success mx-5">@Html.ActionLink("Đăng ký", "DangKy")</button>
</div>
