<div id="menu" class="row" style="color:white;background-color:steelblue">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggler navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0 text-light mt-3">
                    <li class="nav-item nav-link active">
                        <a class="nav-link" href="#">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Thể Loại </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/BaiHat/Album">Album </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Nhạc sĩ </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Tìm kiếm </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>