<div class="row" style="background-color:black; height:60px;">
    <div class="col-12 mt-3 mx-auto">
        <ul>
            <li style="float:left; position:relative; display:block; width:150px; color:white; ">
                <a href="/SanPham/TrangChu" style="color:white;">TRANG CHỦ</a>
            </li>
            <li style="float:left; position:relative;  display:block; width:150px; color:white; ">
                <a href="/NguoiDung/DangKy" style="color:white;">ĐĂNG KÝ</a>
            </li>
            <li style="float:left; position:relative;  display:block; width:150px; color:white; ">
                <a href="/NguoiDung/DangNhap" style="color:white;">ĐĂNG NHẬP</a>
            </li>
            <li style="float:left; position:relative; display:block;width:150px;color:white;">
                <a href="#" style="color:white;">LIÊN HỆ</a>
            </li>
            <li style="float:left; position:relative; display:block;width:150px;color:white;">
                <a href="/TinTuc/TinTucInfo" style="color:white;">TIN TỨC</a>
            </li>
            <li style="float:left; position:relative; display:block;width:150px;color:white;">
                <a href="/GioHang/GioHang" style="color:white;">GIỎ HÀNG</a>
            </li>
        </ul>
    </div>
</div>