
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Content" class="row">
    <div class="col-xs-12 col-sm-6 col-md-9">
        <img width="750px" src="~/Assets/images/Slide2.JPG" alt="Banner"/>
    </div>
</div>