
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchProduct</title>
</head>
<body>
    <div class="container"> 
        <form action="/SanPham/SearchProduct">
            <input class="form-control mx-auto" type="text" id="txt_Search" name="txt_Search" placeholder="Search" />
            <button class="btn btn-outline-success mx-5" type="submit">Search</button>
        </form>
        <h2 style="font-weight:bold; color:blue;">TÌM KIẾM SẢN PHẨM</h2>
    </div>
</body>
</html>
