<div class="row" style="background-color:red; height:100px;">
    <div class="col-4 mt-2">
        <a href="#"><img src="/Images_KTL2/LogoFpt.png" width="70%" class="rounded" /></a>
    </div>
    <div class="col-4 mt-4">
        <input class="form-control mx-auto" type="search" placeholder="Search" aria-label="Search" name="txt_Search">
    </div>
    <div class="col-1 mt-3">
        <button class="btn btn-link" type="submit"><img src="/Images_KTL2/search.JPG" class="rounded" /></button>
    </div>
    <div class="col-3">

    </div>
</div>