<div class="row" style="background-color:darkorange; text-align:center;">
    <div class="col text-light mt-3 mb-3" style="text-align:center;">
        <h5>Liên hệ: Khoa Công nghệ Thông tin - Trường Đại học Công Thương Tp.HCM Link: <a href="https://www.facebook.com/HUITFIT">Facebook</a> và <a href="youtube.com/DHCongthuong">Youtube</a></h5>
        <br />
        <h5>Địa chỉ: 140 Lê Trọng Tấn, Phường Tây Thạnh, Quận Tân Phú, Tp.HCM. ĐT: (028).38161673 (ext 136) Mail: info@hufi.edu.vn</h5>
    </div>
</div>
