<div id="Header">
    <div id="banner">
        <img src="/Assets/images/main.jpg" />
    </div>
    <div id="head2">
        <div id="Trai">
            <div id="menu">
                <ul>
                    <li><a href="~/Home/HomePage">HOME</a></li>
                    <li>@Html.ActionLink("ABOUT US", "AboutUs", "Home")</li>
                    <li>@Html.ActionLink("SERVICES", "Services", "Home")</li>
                    <li>@Html.ActionLink("SUPPORT", "Support", "Home")</li>
                    <li><a href="~/Home/Contact">CONTACT</a></li>
                </ul>
            </div>
            <div id="welcome"><img src="/Assets/images/welcome.jpg" /></div>
            <div id="text">
                <p style="font-size:10px;">
                    <span style="font-weight:bold;">Ea consetetur sadi lorem sed</span> <br />
                    lorem ipsum dolor sed Consetetur pscing elitr, sed diam nonumy eirmod Dolores et ea consetetur sadi pscing elit consetetur pscing elitr, sed diam nonumy lorem ipsum dolor sed Dolores et ea consetetur sadi pscing elit consetetur pscing elitr, sed diam nonumy lorem ipsum dolor sed Consetetur pscing elitr, sed diam nonumy read more about us...
                </p>
            </div>
        </div>
        <div id="Phai"><img src="/Assets/images/main-12.jpg" /></div>
    </div>
</div>
