
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div>
        <p>ID: @ViewData["id"] </p>
        <p>NAME: @ViewBag.name</p>
        <p>AGE: @ViewBag.age</p>
        <p>HEIGHT: @ViewData["height"]</p>
    </div>
</body>
</html>