@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div>
        <h1>Welcome!</h1>
        <p>
            ID: @Request.QueryString["id"]<br />
            Name: @Request.QueryString["name"]<br />
            Age: @Request.QueryString["age"]
        </p>
    </div>
</body>
</html>
