
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>About</h2>
@section SubHeader{
    <div style="color:blue; background-color:yellow">SubHeader - About Us</div>
}
@section SubFooter{
    <div style="background-color:green">SubFooter - About Us</div>
}