
@{
    ViewBag.Title = "Home";
    Layout = "/Views/Shared/_LayoutPage.cshtml";
}

<h2>Home</h2>
@section SubHeader{
    <div style="color:black; background-color:#FF2D00">Hello World</div>
}
@section SubFooter{
    <div style="background-color:#d100ff; color:white; ">SubFooter - Home Page</div>
}