
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Support</h2>
@section SubHeader{
    <div style="color:yellow; background-color:purple">Hihi</div>
}
@section SubFooter{
    <div style="background-color:blue; color:white">SubFooter - Support</div>
}