
@{
    Layout = null;
}
@model Bai3_KhoaCNTT.Models.KhoaModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1 style="color:blue;"> @Model.Message</h1>
        <h2 style="color:blue;"> Thông tin khoa</h2>
        <h2 style="color:blue;"> Tên khoa: @Model.TenKhoa </h2>
        <h2 style="color:blue;"> Năm thành lập: @Model.NamThanhLap </h2>
</div>
</body>
</html>
